{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include "partials/meta-info.html" %}
    {# Concatenate inline styles #}
    {% set css %}{% include "css/critical.css" %}{% endset %}
    <style>{{ css | safe }}</style>
    <link rel="preload" href="/fonts/fonts.css?{{ assetHash }}" as="style" onload="this.rel='stylesheet'" />
  </head>
  <body class="bg-light color-dark font-base">
    <div class="site-wrap">
      {% include "partials/site-head.html" %}
      <main tabindex="-1" id="main-content">
        <div class="wrapper">
          <article class="flow">
            <header class="article-head flow">
              <h1 class="section-header">{{title}}</h1>
              <div class="article-head__intro flow">
                {{ content | safe }}
              </div>
            </header>
        </div>
      </main>
      {% include "partials/site-foot.html" %}
    </div>
  </body>
</html>