{% extends "layouts/base.html" %} 

{% set pageCriticalStyles = ['css/contact.css'] %}

{% block content %}
<div class="wrapper">
  <article class="flow">
      <header class="article-head flow">
        <h1 class="section-header">{{title}}</h1>
        <div class="article-head__intro flow">
          {{ content | safe }}
        </div>
      </header>
      <hr class="color-dark">
      <form class="contact-form" method="POST" name="contact" action="/thank-you/" data-netlify="true">
        <input type="hidden" name="form-name" value="contact">
        <div class="contact-form__fields">
          <div class="contact-form__field">
            <label for="name">Name *</label>
            <input id="name" type="text" name="name" required="true">
          </div>
          <div class="contact-form__field">
            <label for="email">Email *</label>
            <input id="email" type="email" name="email" required="true">
          </div>
          <div class="contact-form__field">
            <label for="message">Message *</label>
            <textarea id="message" name="message" required="true"></textarea>
          </div>
        </div>
        <button class="button gap-top-600" type="submit">Send Message</button>
      </form>
    </article>
</div>
{% endblock %}
