{% extends "layouts/base.html" %} 

{% set pageCriticalStyles = ['css/blog.css','css/projects.css','css/snippets.css','css/line-md.css'] %}

{% block content %}
<div class="wrapper gap-top-900">
  <article class="flow">
    <h2 class="section-header">Recent Projects</h2>
    <hr class="color-dark">
    {% include "partials/project-list.html" %}
    <h2 class="section-header">Recent Snippets</h2>
    <hr class="color-dark">
    {% include "partials/snippet-list.html" %}
    <h2 class="section-header">Recent Posts</h2>
    <hr class="color-dark">
    {% include "partials/blog-list.html" %}
  </article>
</div>
{% endblock %}
