{% extends "layouts/base.html" %} {% block content %}
<div class="wrapper">
  <article class="flow">
    <header class="article-head flow">
      <h1 class="section-header">Snippets</h1>
      <div class="article-head__intro flow">
        <p>These are random demos or snippets which are too small to go on the <a href="">projects</a> page. Most of these can be found on my <a href="">CodePen</a>.</p>
      </div>
    </header>
    <hr class="color-dark">
    <ol class="snippets-list flow">
      <li>
        <a href="">Identicon Generator <span class="iconify" data-icon="line-md:arrow-small-right"></span></span></a>
      </li>
      <li>
        <a href="">Game of Life <span class="iconify" data-icon="line-md:arrow-small-right"></span></span></a>
      </li>
      <li>
        <a href="">Identicon Generator <span class="iconify" data-icon="line-md:arrow-small-right"></span></span></a>
      </li>
      <li>
        <a href="">Game of Life <span class="iconify" data-icon="line-md:arrow-small-right"></span></span></a>
      </li>
    </ol>
  </article>
</div>
{% endblock %}
