.blog-year {
  --flow-space: #{get-size('800')};
}

.blog-list {
  list-style: none;
  padding: 0;
  > li {
    > a {
      text-decoration: none;
      display: flex;
      justify-content: space-between;
      font-size: #{get-size('500')};
      time {
        font-size: #{get-size('400')};
        white-space: nowrap;
        color: #{get-color('dark-glare')};
      }
    }
  }
}