.button {
  border-radius: .25rem;
	display: inline-block;
	padding: .5rem 2rem;
	background: get-color('quaternary-glare');
	color: get-color('dark-shade');
	border: 2px solid;
	text-transform: uppercase;
	text-decoration: none;
	text-align: center;
	font-weight: 700;
  cursor: pointer;
  &[data-variant="ghost"] {
    background: 0 0;
    color: get-color('quaternary-glare');
  }
  &:hover {
    background: get-color('quaternary-shade') !important;
    color: get-color('dark-shade') !important;
  }
}