.contact-form {
  --flow-space: #{get-size('600')};
  &__fields {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  &__field {
    label {
      display: block;
    }
    input, textarea {
      border-radius: .25rem;
      display: block;
      width: 100%;
      padding: get-size('300');
      background-color: get-color('light-glare');
      color: get-color('dark-shade');
      border: 2px solid;
      &:focus {
        outline: none;
        border-color: get-color('secondary');
      }
    }
  }
  &__submit {
    border-radius: .25rem;
    background-color: #fe9476;
    color: get-color('dark-shade');
    border: 2px solid;
    padding: get-size('300');
    text-transform: uppercase;
    font-weight: 700;
    margin-top: get-size('600');
    cursor: pointer;
  }
}

textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 4rem;
  max-height: 24rem;
}