.primary-nav {
  padding: 1rem 1.25rem;
  max-width: 50em;
  margin: auto;
  display: flex;
  gap: 1rem;
  flex-direction: column;
  @include media-query('md') {
    flex-direction: row;
  }
  align-items: center;
  justify-content: space-between;
}

.nav-list {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
  a {
    display: block;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
    position: relative;
    padding: 1.5rem .5rem .5em;
    
    &[data-state='active'],
    &[aria-current='page'] {
      color: get-color('dark');
      text-decoration: underline 2px get-color('quaternary');
      &::before {
        content: "";
        height: 8px;
        width: 8px;
        border-radius: 2px;
        position: absolute;
        background-color: get-color('quaternary');
        top: .5rem;
        animation: bounce 1.5s cubic-bezier(0.17, 0.37, 0.43, 0.67) infinite;
      }
    }
  }
}

@keyframes bounce {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  50% {
    transform: translate(40px, 0) rotate(360deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}