.projects-list {
  --flow-space: #{get-size('600')};
  margin-bottom: 0;
	display: grid;
	list-style: none;
	padding: 0;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  &__title {
    line-height: 1.2;
    font-size: get-size('500');
    font-weight: 700;
  }
  li {
    border-radius: 0.5rem;
    text-decoration: none;
    padding: 1rem;
    background-color: get-color('light-glare');
    border: 2px solid get-color('dark-glare');
    display: grid;
    grid-template-columns: 24px auto;
    gap: 0.8rem;
  }
}