main + .site-foot {
  margin-top: get-size('900');
}

.site-foot {
  border-top: 0.5rem solid currentColor;
  text-align: center;
  padding: get-size('600') 0;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  font-size: get-size('700');
  a {
    line-height: 1;
    height: 32px;
    color: get-color('secondary-glare');
  }
  a:hover {
    color: get-color('secondary');
  }
}

.data-bar {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1rem;
}

.smzr-expansion {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  i {
    font-style: italic;
    text-decoration: none;
    &:hover {
      cursor: pointer;
      color: get-color('quaternary-shade');
    }
  }
}