---
title: Oops! Not Found
permalink: 404.html
---
{% extends "layouts/base.html" %}
{% block content %}
<div class="wrapper">
  <article class="flow">
    <header class="article-head flow">
      <h1 class="section-header">{{title}}</h1>
      <div class="article-head__intro flow">
        <p>The page you are looking for is not available.</p>
        <p><a href="/">Back to Home</a></p>
      </div>
    </header>
</div>
{% endblock %}
