<a class="skip-link button" href="#main-content">Skip to content</a>
<header class="site-head" role="banner">
  <nav class="primary-nav" aria-label="Primary navigation">
    <a class="logo" href="/" aria-label="{{ site.name }} - home">
      <div aria-hidden="true">
        {% include "partials/smzr-logo.svg" %}
      </div>
      <p class="visually-hidden">Sammy McKay</p>
    </a>
    <ul class="nav-list">
      {% for item in navigation.items %}
        <li>
          <a href="{{item.url}}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{item.text}}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>