<footer class="site-foot bg-dark color-secondary-glare gap-top-900">
  <div class="wrapper">
    <div class="site-foot__inner flow">
      <div class="socials">
        <a href="mailto:sammy@smzr.co.uk" aria-label="Email" title="Email"><span class="iconify-inline" data-icon="mdi:email-outline"></span></a>
        <a href="https://github.com/smzr" aria-label="GitHub" title="GitHub"><span class="iconify-inline" data-icon="mdi:github"></span></a>
        <a href="https://codepen.io/smzr" aria-label="CodePen" title="CodePen"><span class="iconify-inline" data-icon="fa-brands:codepen"></span></a>
        <a href="https://www.linkedin.com/in/sammy-mckay-b687b4212/" aria-label="LinkedIn" title="LinkedIn"><span class="iconify-inline" data-icon="fa-brands:linkedin-in"></span></a>
      </div>
      <p>smzr © {{ helpers.currentYear() }}</p>
    </div>
  </div>
</footer>