<footer class="site-foot bg-dark color-secondary-glare gap-top-900">
  <div class="wrapper">
    <div class="site-foot__inner flow">
      <div class="socials">
        <a href=""><span class="iconify-inline" data-icon="mdi:email-outline"></span></a>
        <a href=""><span class="iconify-inline" data-icon="mdi:github"></span></a>
        <a href=""><span class="iconify-inline" data-icon="fa-brands:codepen"></span></a>
        <a href=""><span class="iconify-inline" data-icon="fa-brands:linkedin-in"></span></a>
      </div>
      <p>smzr © <script> document.write(new Date().getFullYear()); </script></p>
    </div>
  </div>
</footer>