<footer class="site-foot bg-dark color-secondary-glare gap-top-900">
  <div class="wrapper">
    <div class="site-foot__inner flow">
      <div class="socials">
        <a href="mailto:sammy@smzr.co.uk" aria-label="Email" title="Email">{% include "partials/icons/email.svg" %}</a>
        <a href="https://github.com/smzr" aria-label="GitHub" title="GitHub">{% include "partials/icons/github.svg" %}</span></a>
        <a href="https://codepen.io/smzr" aria-label="CodePen" title="CodePen">{% include "partials/icons/codepen.svg" %}</span></a>
        <a href="https://www.linkedin.com/in/sammy-mckay-b687b4212/" aria-label="LinkedIn" title="LinkedIn">{% include "partials/icons/linkedin.svg" %}</a>
      </div>
      <p>smzr © {{ helpers.currentYear() }}</p>
    </div>
  </div>
</footer>