{% set urlWithOrigin %}https://www.smzr.co.uk{{ page.url }}{% endset %}
{%- if speedlify[urlWithOrigin] %}
  <section class="bg-light-glare gap-top-900 pad-top-400 pad-bottom-400">
    <div class="wrapper">
      <a href="https://smzr-speedlify.netlify.app/smzr.co.uk/" class="speedlify-link">
        <speedlify-score hash="{{ speedlify[urlWithOrigin].hash }}" speedlify-url="https://smzr-speedlify.netlify.app/" score weight requests></speedlify-score>
        <div class="lh-pyro">
          <div class="lh-pyro-before"></div>
          <div class="lh-pyro-after"></div>
        </div>
      </a>
    </div>
  </section>
{%- endif %}